<?xml version="1.0" ?>

<container xmlns="http://symfony.com/schema/dic/services"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://symfony.com/schema/dic/services http://symfony.com/schema/dic/services/services-1.0.xsd">

    <services>
        <service id="vehicle_service.app.parked_life" class="Shouze\ParkedLife\App\VehicleService">
            <argument type="service" id="event_store_vehicle_fleet_repository.adapters.parked_life" />
            <tag name="tactician.handler" command="Shouze\ParkedLife\App\Command\RegisterVehicle" />
            <tag name="tactician.handler" command="Shouze\ParkedLife\App\Command\ParkVehicle" />
        </service>

        <service id="vehicle_query_service.app.parked_life" class="Shouze\ParkedLife\App\VehicleQueryService">
            <argument type="service" id="projector.adapters.parked_life" />
        </service>

        <service id="command_inflector.parked_life" class="Shouze\ParkedLife\Ports\CommandClassAsMethodInflector" public="false" />
    </services>
</container>
